.art-title {
    padding: 13px;
}

.art-p {
    padding-top: 10px;
    font-size: 16px;
}

.art-m {
    margin-top: 15px;
}

.art-f {
    padding: 25px;
    padding-top: 0px;
}

.art-f2 {
    padding-bottom: 25px;
}